<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bytedance.jstu.homework">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Homework">
        <activity
                android:name=".词典释义活动"
                android:exported="true"/>
        <activity
                android:name=".时钟活动"
                android:exported="true"
                android:screenOrientation="sensorPortrait"/>
        <activity
                android:name=".详细信息活动"
                android:exported="true"/>
        <activity
                android:name=".主活动"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ItemDetailActivity"/>
        <activity android:name=".ItemsListActivity"/>
    </application>

</manifest>